<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="/js/main.js"></script>
</head>
<body>
    {{>header}}
    <p>{{name}}</p>
    <img src="/images/snow.png" alt="snow">
    {{>footer}}
</body>
</html>