<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    {{>header}}
    <h4>Use this site to get the weather</h4>
    <form action="">
        <input type="text" name="location" id="" placeholder="Location">
        <button type="submit">Search</button>
    </form>
    <hr>
    <p id="message1"></p>
    <p id="message2"></p>

    {{>footer}}
    <script src="/js/main.js"></script>
</body>
</html>